# Imágenes y PDFs
data/
extract_ocr/

# Ignorar archivos .rar, .zip
*.rar
*.zip

# Modelos y cache
notebooks/**/*pth
validation/**/*.pt
validation/**/*.cache
others/ocr/models/**
scripts/**/models

# Experimentos de validaciones
validation/**/experiments/

# Env
.env

# Python
venv_*/
**/venv_*/
__pycache__/
**/__pycache__/
.ipynb_checkpoints/
**/.ipynb_checkpoints/


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?